  <p>
    <strong>Nombre:</strong>
    <%= pet.name %>
  </p>
 
  <p>
    <strong>Edad:</strong>
    <%= pet.age %>
  </p>

  <p>
    <strong>Género:</strong>
    <%= pet.gender %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= pet.ptipe %>
  </p>

  <p>
    <strong>Vivo:</strong>
    <%= pet.alive %>
  </p>